label {
  height: 70px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  cursor: pointer;
}

.cardContainer {
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 10px;
  background-color: #dfdfdf;
  padding: 1rem 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  perspective: 1000px;
  position: relative;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.cardImage_front,
.cardImage_back {
  position: absolute;
  box-sizing: border-box;
  width: 50px;
  height: 60px;
  padding: 0.4rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cardImage_front {
  transform: rotateY(180deg);
}

.hidden {
  opacity: 0.4;
  pointer-events: none;
}
.finished {
  transform: none;
}

/* Youtuebe flip */
input {
  display: none;
}
:checked + .cardContainer {
  transform: rotateY(180deg);
}
